<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <defaults>
      <add key="GamePath" value="C:\Program Files\Steam\steamapps" />
      <add key="BackupPath" value="C:\Documents\Games\BackupTool" />
      <add key="MinutesBetweenSave" value ="10" />
      <add key="SaveSlots" value="10" />
    </defaults>
</configuration>