<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Generalized_Backup_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Generalized_Backup_Tool.Properties.Settings>
            <setting name="SteamPath" serializeAs="String">
                <value>C:\Program Files\Steam</value>
            </setting>
            <setting name="NumSaves" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SaveInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>C:\Documents\Game Backups</value>
            </setting>
        </Generalized_Backup_Tool.Properties.Settings>
    </userSettings>
</configuration>